/* Turning Metadata off for the moment */
div#metadata { display: none; } 

/* Container */
#textBody { 
	width: 80%; 
	margin: 0 auto; 
}

sup.lexeme-id { 
	color: #A33; 
	font-size: 0.7em; 
} 

span.lexeme:hover { 
	color: #A33; 
} 

p.song { 
	margin-left: 30%; 
} 

span.emph { 
	font-style: italic; 
} 

span.tag { 
	background-color: orange; 
	border: 1px solid blue; 
	padding: 1px;
	margin: 1px;
} 

p:before { 
	content: "¶"; 
	position: relative;
	right: 20px;
} 

.metadata { 
	display: none; /* hide this for now */ 
} 

td { 
	vertical-align: top; 
	padding: 4px; 
	width: 50%
} 

