/* Turning Metadata off for the moment */
div#metadata { display: none; } 

body { 
	font-family: 'Slabo 27px', serif;
} 

a { 
	color: #A33; 
} 

/* Container */
#textBody { 
	width: 80%; 
	margin: 0 auto; 
}

sup.lexeme-id { 
	color: #A33; 
	font-size: 0.7em; 
} 

span.lexeme:hover { 
	color: #A33; 
} 

span.emph { 
	font-style: italic; 
} 

span.tag { 
	background-color: #F2D2C6; 
	border: 1px solid #F0A9A1; 
	border-radius: 2px; 
	font-size: 80%; 
	padding: 2px;
	margin: 1px;
} 

span.tag:hover { 
	background-color: #F0A9A1;
} 

.pilcrow { 
	position: relative;
	right: 20px;
	color: #888; 
} 

.metadata { 
	display: none; /* hide this for now */ 
} 

td { 
	vertical-align: top; 
	padding: 4px; 
	width: 50%
} 

